@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffff;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
  border: 3px solid #ffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #999 #ffffff; 
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: black;
}

.background {
  width: screen;
  height: 80vh;
  background-position: top;
  z-index: 1;
  position: relative;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  font-size: 1.2rem;
  line-height: 1.7;
  position: relative;
  background-image: url("/header.png");
  background-size: cover;
  background-attachment: relative;
  cursor: pointer;
}

.text {
  padding: 15rem 10rem 15rem 50%;
}

.icons {
  position: absolute;
  z-index: 1000;
}

.icon-1 {
  width: 140px;
  height: 140px;
  left: 10%;
  top: 60%;
}

.icon-2 {
  width: 140px;
  height: 140px;
  left: 20%;
  top: 30%;
}

.icon-4 {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 30%;
}

.icon-5 {
  width: 180px;
  height: 180px;
  bottom: 0;
  left: 5%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.icon-8 {
  width: 120px;
  height: 120px;
  bottom: 25%;
  left: 25%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.icon-9 {
  width: 100px;
  height: 100px;
  bottom: 35%;
  left: 30%;
}

.backgroundImage::before {
  content: "";
  background-image: url("/header-3.png");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}


@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }

  .icons,
  .icon {
    display: none;
  }

  .text {
    padding: 0 3rem 5rem 3rem;
  }
}